/* navbar */

.fondo-nav{
    background: rgba(12, 12, 13, 0.78);
}

nav {
    
    transition: 0.6s;
    z-index: 100;
}



/* efctos del navbar scroll */
nav.sticky{
    padding:  30px ;
    background: white;
}
nav.sticky span{
    color: black;
    font-size: 35px;
}
nav.sticky ul li a {
    color: black;
    font-size: 1em;
}


.espacio{
    height: 200vh;
}
